@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;600;700&display=swap');

$fontMain:'Prompt', san-serif;
$color-bg:#7D22C9;
$color-white-bg:#fff;
$color-accent-1:#7D22C9;
$color-accent-2:#AD62E7;
$color-accent-3:#ffc107;
$color-warning:#FA4D56;
$color-headline:#26333A;
$color-text:#3A3740;